.greeting-component {
    width: 657.84px;
    height: 53.98px;
    padding: 10px;
    background-color: #E0F7FA;
    display: flex;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
    border-radius: 5px;
}

.greeting-component p {
    font-size: 40px;
    font-weight: 400;
    line-height: 50.51px;
    margin: 0;
    color: #2DBDB1;
}

.greeting-component .name {
    font-weight: 700;
    color: #2DBDB1;
}
