.datetime-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Oxygen', sans-serif;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.time-value {
    font-size: 56.25px;
    font-weight: 400;
    color: #2DBDB1;
    line-height: 71.03px;
}

.am-pm {
    font-size: 15px;
    font-weight: 400;
    color: #2DBDB1;
    line-height: 18.94px;
    margin-left: 2px;
}

.date {
    font-size: 18.75px;
    font-weight: 400;
    color: #4B5853;
    line-height: 23.68px;
    margin-top: 5px;
}
